[submodule "themes/noteworthy"]
	path = themes/noteworthy
	url = https://github.com/kimcc/hugo-theme-noteworthy.git
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/rickypai/hugo-theme-hello-friend.git
